<!DOCTYPE HTML>
<!--
	Photon by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ asset('/assets/js/ie/html5shiv.js') }}"></script><![endif]-->
		<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
		<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.structure.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.theme.min.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('assets/css/ie8.css') }}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('assets/css/ie9.css') }}" /><![endif]-->
		<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
		{% block headScript %}{% endblock %}
    </head>
    <body>
		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span class="icon major fa-cloud"></span>
					{% block header %}{% endblock %}
				</div>
			</section>
	
	
		<!-- One -->
			{% set _section = block('sectionOne') %}
			{% if _section is not empty %}
			<section id="one" class="main style1">
				<div class="container">
					{{ _section|raw }}
				</div>
			</section>
			{% endif %}
			
		<!-- Two -->
			{% set _section = block('sectionTwo') %}
			{% if _section is not empty %}
			<section id="two" class="main style2">
				<div class="container">
					{{ _section|raw }}
				</div>
			</section>
			{% endif %}

		<!-- Three -->
			{% set _section = block('sectionThree') %}
			{% if _section is not empty %}
			<section id="three" class="main style1 special">
				<div class="container">
					{{ _section|raw }}
				</div>
			</section>
			{% endif %}
        
		<!-- Footer -->
			<section id="footer">
				<ul class="copyright">
					<li>&copy; Mateusz Karpiński</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</section>

		<!-- Scripts -->
		<script src="{{ asset('assets/js/skel.min.js') }}"></script>
		<script src="{{ asset('assets/js/util.js') }}"></script>
		<!--[if lte IE 8]><script src="{{ asset('assets/js/ie/respond.min.js') }}"></script><![endif]-->
		<script src="{{ asset('assets/js/main.js') }}"></script>
		{% block bodyEnd %}{% endblock %}
    </body>
</html>
