{% extends 'base.html.twig' %}

{% block header %}
	<h1>Witaj <strong>{{ user_FN }} {{ user_LN }}</strong>!</h1>
	
	<ul class="actions">
	{% if app.user and is_granted('ROLE_ADMIN') %}
		<li><a href="#two" class="button scrolly">Opcje administratora</a></li>
	{% endif %}
		<li><a hreg="#one" class="button scrolly">Lista zadań</a></li>
		<li><a href="{{ path('logout') }}" class="button scrolly">Wyloguj się</a></li>
	</ul>
{% endblock %}

{% block sectionOne %}
	<table>
		<tr><th>ID</th><th>Nazwa</th><th>Zadania</th></tr>
		{% for category in categories %}
			<tr>
				<td>{{ category.id }}</td>
				<td>{{ category.name }}</td>
				<td><a href="javascript:showTasks({{ category.id }});">Zobacz</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block sectionTwo %}{% if app.user and is_granted('ROLE_ADMIN') %}
		<script>
			function editUser(userid)
			{
				$("#loading_admin").show();
				$.ajax("/getuser/" + userid).done(function(r) {
					$("#uid").val(r.id);
					$("#ufirst").val(r.first);
					$("#ulast").val(r.last);
					$("#uemail").val(r.email);
					$("#uactive").prop("checked", r.isactive);
					$("#uaccess").prop("checked", r.isadmin);
				}).always(function() {
					$("#loading_admin").hide();
				});
			
			}
			
			function onSubmit()
			{
				if($("#uid").val() == "")
				{
					alert("Musisz wybrać użytkownika, którego chcesz zaktualizować...");
					return false;
				}
				if(confirm("Czy na pewno chcesz zaktualizować tego użytkownika?"))
				{
					$("#loading_admin").show();
					$.ajax({
						type: "POST",
						url: "{{ path('admin_setuser') }}",
						data: {
							id: parseInt($("#uid").val()),
							first: $("#ufirst").val(),
							last: $("#ulast").val(),
							email: $("#uemail").val(),
							pass: $("#upass").val(),
							active: $("#uactive").prop("checked") ? 1 : 0,
							access: $("#uaccess").prop("checked") ? 1 : 0
						},
						success: function(r) {
							if(r != "OK")
								alert(r);
						},
						error: function(err) {
							alert("Nie można zaktualizować danych użytkownika.");
						}
					}).always(function() {
						$("#loading_admin").hide();
						$("#upass").val("");
					});
				}
				return false;
			}
		</script>
	
		<div class="row 150%">
			<div class="6u 12u$(medium)">
				<header class="major">
					<h2>Lista użytkowników</h2>
				</header>
				<table>
					<tr>
						<th>ID</th>
						<th>Imię i Nazwisko</th>
						<th>Email</th>
						<th>Edycja</th>
					</tr>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.firstName }} {{ user.lastName }}</td>
							<td>{{ user.email }}</td>
							<td>
							{% if app.user.id != user.id %}
								<a href="javascript:editUser({{ user.id }});">Edytuj</a>
							{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<div class="6u$ 12u$(medium)">
				<form onSubmit="return onSubmit();">
					<label for="uid">ID</label>
					<input type="number" id="uid" name="uid" value="" disabled="disabled" />
					<img id="loading_admin" src="{{ asset('images/loader.gif') }}" style="display: none; width: 32px; height: 32px;" />
					<label for="ufirst">Imię</label>
					<input type="text" value="" id="ufirst" name="ufirst" />
					<label for="ulast">Nazwisko</label>
					<input type="text" value="" id="ulast" name="ulast" />
					<label for="uemail">Email</label>
					<input type="text" value="" id="uemail" name="uemail" />
					<label for="upass">Hasło</label>
					<input type="text" value="" id="upass" name="upass" />
					<br />
					<input type="checkbox" id="uactive" name="uactive" checked="checked" /><label for="uactive">Czy konto jest aktywne?</label>
					<input type="checkbox" id="uaccess" name="uaccess" /><label for="uaccess">Czy jest adminem?</label>
					<br />
					<input type="submit" value="Aktualizuj" />
				</form>
			</div>
		</div>
	
{% endif %}{% endblock %}