{% extends 'base.html.twig' %}

{% block header %}
	<h1>Witaj <strong>{{ user_FN }} {{ user_LN }}</strong>!</h1>
	
	<ul class="actions">
	{% if app.user and is_granted('ROLE_ADMIN') %}
		<li><a href="#three" class="button scrolly">Opcje administratora</a></li>
	{% endif %}
		<li><a href="#one" class="button scrolly">Lista zadań</a></li>
		<li><a href="{{ path('dashboard') }}" class="button scrolly">Dashboard</a></li>
		<li><a href="{{ path('logout') }}" class="button scrolly">Wyloguj się</a></li>
	</ul>
{% endblock %}

{% block bodyEnd %}
	<div id="addCategoryDialog" title="Dodaj kategorię">
		<form onSubmit="return onAddCategory();" class="ignorecss">
			<label for="cat_name" class="ignorecss">Nazwa</label><input type="text" id="cat_name" name="cat_name" class="ignorecss" />
			<input type="submit" value="Dodaj" class="ignorecss" />
		</form>
	</div>
{% endblock %}

{% block sectionOne %}
	<script>
		function onAddCategory()
		{
			if($("#cat_name").val() == "")
			{
				alert("Musisz podać nazwę kategorii.");
				return false;
			}
			
			$.ajax({
				type: "POST",
				url: "{{ path('user_addcategory') }}",
				data: {
					cat_name: $("#cat_name").val()
				},
				success: function(r) {
					if(r == "ALREADY_EXISTS")
						alert('Wybrana nazwa kategorii już istnieje, proszę podać inną.');
					else if(isNaN(r))
						alert("Wystąpił nieznany błąd.");
					else
					{
						alert("Kategoria została dodana.");
						$("#catTable").append("<tr><td>" + r + "</td><td>" + $("#cat_name").val() + "</td><td><a href='javascript:showTasks(" + r + ");'>Zobacz</a></td>{% if is_granted('ROLE_ADMIN') %}<td><a href='javascript:removeCategory(" + r + ");'>Usuń</a></td>{% endif %}</tr>");
					}
				},
				error: function(err) {
					alert("Nie można dodać nowej kategorii.");
				}
			}).always(function() {
				$("#addCategoryDialog").dialog("close");
				$("#cat_name").val("");
			});
			return false;
		}
		
		function addCategory()
		{
			$("#addCategoryDialog").dialog("open");
		}
		
		{% if is_granted('ROLE_ADMIN') %}
			function removeCategory(id)
			{
				$.ajax({
					type: "POST",
					url: "{{ path('user_remcategory') }}",
					data: {
						id: id
					},
					success: function(r) {
						if(r == "NOT_FOUND")
							alert('Wybrana kategoria musiała zostać usunięta wcześniej, gdyż nie została znaleziona.');
						else if(isNaN(r))
							alert("Wystąpił nieznany błąd.");
						else
						{
							alert("Kategoria została usunięta.");
							$("#cat" + r + "Tr").remove();
						}
					},
					error: function(err) {
						alert("Nie można usunąć nowej kategorii.");
					}
				});
			}
		{% endif %}
	
	</script>
	<div class="row 150%">
		<div class="6u 12u$(medium)">
			<header class="major">
				<h2>Lista kategorii</h2>
				<h5><button onClick="javascript:addCategory();">Dodaj kategorię</button></h5>
			</header>
			<table id="catTable">
				<tr><th>ID</th><th>Nazwa</th><th>Zadania</th>{% if is_granted('ROLE_ADMIN') %}<th>Usuń kategorię</th>{% endif %}</tr>
				{% for category in categories %}
					<tr id="cat{{ category.id }}Tr">
						<td>{{ category.id }}</td>
						<td>{{ category.name }}</td>
						<td><a href="javascript:showTasks({{ category.id }});">Zobacz</a></td>
						{% if is_granted('ROLE_ADMIN') %}
							<td><a href="javascript:removeCategory({{ category.id }});">Usuń</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}

{% block sectionTwo %}
	<div id="showtaskwnd" title="Szczegóły zadania" class="ignorecss">
		Nazwa zadania: <span style="font-weight:bold;" id="showtaskwnd_name" class="ignorecss"></span></span><br />
		Opis zadania: <textarea id="showtaskwnd_descr" class="ignorecss" disabled="disabled"></textarea>
		Data zakończenia: <span style="font-weight:bold;" id="showtaskwnd_endtime" class="ignorecss"></span></span><br />
		Priorytet: <span style="font-weight:bold;" id="showtaskwnd_priority" class="ignorecss"></span><br />
		Zakończone: <span class="ignorecss" style="font-weight:bold;" id="showtaskwnd_ended">tak</span> <a href="javascript:setEnded();" id="showtaskwnd_end"><small>(Zakończono)</small></a><br />
		{% if is_granted('ROLE_ADMIN') %}
			<button onClick="removeTask();">Usuń zadanie</button>
		{% endif %}
	</div>
	<div id="addtaskwnd" title="Utwórz zadanie" class="ignorecss">
		<form onSubmit="return addTask();">
			<label for="addtaskwnd_name">Nazwa zadania</label><input type="text" name="addtaskwnd_name" id="addtaskwnd_name" required="required" />
			<label for="addtaskwnd_descr">Opis zadania</label><textarea name="addtaskwnd_descr" id="addtaskwnd_descr" required="required"></textarea>
			<label for="addtaskwnd_endtime">Data zakończenia</label><input type="text" name="addtaskwnd_endtime" id="addtaskwnd_endtime" required="required" />
			<label for="addtaskwnd_prior">Priorytet</label><select name="addtaskwnd_prior" id="addtaskwnd_prior">
				<option value="1">Niski</option>
				<option value="2" selected="selected">Normalny</option>
				<option value="3">Wysoki</option>
				<option value="4">Na wczoraj</option>
			</select>
			<input type="submit" class="ignorecss" style="margin-top: 10px;" value="Utwórz" />
		</form>
	</div>
	<script>
		var currCategory = -1;
		var currPage = 1;
		var currTasks = [];
		var currTask = -1;
		var currSort = "name";
		var currSortType = "ASC";
		
		{% if is_granted('ROLE_ADMIN') %}
			function removeTask()
			{
				$.ajax({
					type: "POST",
					url: "/remtask/"+currTask,
					success: function(r) {
						if(r == "OK")
							alert("Zadanie zostało usunięte.");
						else
							alert("Nie można odnaleźć wybranego zadania.");
					},
					error: function(err) {
						alert("Wystąpił nieznany błąd.");
					}
				}).always(function() {
					$("#showtaskwnd").dialog("close");
				});
			}
		{% endif %}
		
		function getDateFromString(str)
		{
			str = str.substr(0, str.indexOf(' '));
			var res = str.split('-');
			return res[2] + '.' + res[1] + '.' + res[0];
		}
		
		function addTaskWindow()
		{
			if(currCategory == -1) {
				alert("Musisz wybrać kategorię!");
				return;
			}
			
			$("#addtaskwnd").dialog("open");
			
			$("#addtaskwnd_prior").val('2');
			$("#addtaskwnd_name").val("");
			$("#addtaskwnd_descr").val("");
			$("#addtaskwnd_endtime").val("");
		}
		
		function addTask()
		{
			$.ajax({
				type: "POST",
				url: "{{ absolute_url(path('user_addtask')) }}",
				data: {
					categoryId: currCategory,
					name: $("#addtaskwnd_name").val(),
					description: $("#addtaskwnd_descr").val(),
					endtime: $("#addtaskwnd_endtime").val(),
					priority: $("#addtaskwnd_prior").val()
				},
				success: function(r) {
					if(r == "OK") {
						alert("Zadanie dodane poprawnie.\nAby je wyświetlić odśwież listę zadań.");
					} else {
						alert("Nie znaleziono wybranej kategorii.");
						alert(r);
					}
					$("#addtaskwnd").dialog("close");
				},
				error: function(err) {
					alert("Wystąpił nieznany błąd.");
					$("#addtaskwnd").dialog("close");
				}
			});
			return false;
		}
		
		function setEnded()
		{
			$.ajax({
				type: "POST",
				url: "/endtask/"+currTask,
				success: function(r) {
					if(r == "NOT_FOUND") {
						alert("Nie można znaleźć zadania.\nCzyżby zostało usunięte?");
					} else if(r == "OK") {
						$("#showtaskwnd_ended").html("tak");
						$("#showtaskwnd_end").hide();
						for(var i = 0; i < currTasks.length; i++) {
							if(currTasks[i].id == currTask) {
								currTasks[i].ended = true;
							}
						}
					} else {
						alert(r);	// niewiadomo co
					}
				},
				error: function(err) {
					alert("Wystąpił nieznany błąd.");
				}
			});
		}
		
		function showTask(id)
		{
			$("#showtaskwnd").dialog("open");
			var task = currTasks[id];
			currTask = task.id;
			$("#showtaskwnd_name").html(task.name)
			$("#showtaskwnd_descr").html(task.description);
			$("#showtaskwnd_endtime").html(getDateFromString(task.endtime.date));
			$("#showtaskwnd_ended").html(task.ended ? "tak" : "nie");
			$("#showtaskwnd_priority").html(getPriorityText(task.priority));
			if(task.ended) {
				$("#showtaskwnd_end").hide();
			} else {
				$("#showtaskwnd_end").show();
			}
		}
		
		function getPriorityText(prior)
		{
			if(prior == 1) {
				return "Niski";
			} else if(prior == 2) {
				return "Normalny";
			} else if(prior == 3) {
				return "Wysoki";
			} else if(prior == 4) {
				return "Na wczoraj";
			}
			return "Nieznany";
		}
		
		function showTasks(id)	// helper
		{
			_showTasks(id, 1, currSort, currSortType);
		}
		
		function setPage(page)
		{
			_showTasks(currCategory, page, currSort, currSortType);
		}
		
		function sortBy(name, type)
		{
			_showTasks(currCategory, currPage, name, type);
			currSort = name;
			currSortType = type;
		}
		
		function _showTasks(id, page, sortBy, sortType)
		{
			$.ajax({
				type: "POST",
				url: "/gettasks/" + id + "/" + page + "/" + sortBy + "/" + sortType,
				success: function(r) {
					if(r.pages < 1) {
						//alert("Nie ma żadnych zadań w wybranej kategorii.");
						$("#addtaskbn").show();
						currPage = 1;
						currCategory = id;
						$("#taskshere").html("Brak zadań w wybranej kategorii.");
						$('html,body').animate({
						  scrollTop: $("#two").offset().top
						}, 1000);
					} else {
						//alert("Printing...");
						$("#addtaskbn").show();
						currPage = page;
						currCategory = id;
						currTasks = [];
						
						var t = $("<table></table>");
						t.html('<tr><th>ID <a href="javascript:sortBy(\'id\', \'ASC\');">&#8643;</a><a href="javascript:sortBy(\'id\', \'DESC\');">&#8638;</a></th><th>Nazwa <a href="javascript:sortBy(\'name\', \'ASC\');">&#8643;</a><a href="javascript:sortBy(\'name\', \'DESC\');">&#8638;</a></th><th>Data zakończenia <a href="javascript:sortBy(\'end\', \'ASC\');">&#8643;</a><a href="javascript:sortBy(\'end\', \'DESC\');">&#8638;</a></th><th>Priorytet <a href="javascript:sortBy(\'priority\', \'ASC\');">&#8643;</a><a href="javascript:sortBy(\'priority\', \'DESC\');">&#8638;</a></th><th>Szczegóły</th></tr>');
						for(var i = 0; i < r.data.length; i++) {
							var tr = $("<tr></tr>");
							tr.html('<td>' + r.data[i].id + '</td><td>' + r.data[i].name + '</td><td>' + getDateFromString(r.data[i].endtime.date) + '</td><td>' + getPriorityText(r.data[i].priority) + '</td><td><a href="javascript:showTask('+i+');">Zobacz</a></td>');
							currTasks[i] = r.data[i];
							t.append(tr);
						}
						
						if(r.pages > 1) {
							var tr = $("<tr></tr>");
							var td = $("<td></td>");
							td.attr("colspan", 5).attr("align", "center").html("Pages: ");
							for(var i = 1; i <= r.pages; i++) {
								var span = $("<span></span>");
								span.css("margin-left", "3px");
								if(i == currPage) {
									var strong = $("<b></b>");
									strong.html(i);
									span.append(strong);
								} else {
									var a = $("<a></a>");
									a.prop("href", "javascript:setPage("+ i + ");");
									a.html(i);
									span.append(a);
								}
								td.append(span);
							}
							tr.append(td);
							t.append(tr);
						}
						
						$("#taskshere").html("").append(t);
						
						$('html,body').animate({
							scrollTop: $("#two").offset().top
						}, 1000);
					}
				},
				error: function(err) {
					//alert("Nie można pobrać listy zadań.");
					currCategory = -1;
					currPage = 1;
					$("#taskshere").html('Musisz wybrać kategorię na liście <a href="#one" class="scrolly">wyżej</a>.');
					$("#addtaskbn").hide();
					document.location = "#two";
				}
			});
		}
	</script>
	<div class="row 150%">
		<div class="12u$(medium)">
			<header class="major">
				<h2>Lista Zadań</h2>
				<h5><button onClick="javascript:addTaskWindow();" id="addtaskbn">Dodaj zadanie</button></h5>
			</header>
			<div id="taskshere">
				Musisz wybrać kategorię na liście <a href="#one" class="scrolly">wyżej</a>.
			</div>
		</div>
	</div>
{% endblock %}

{% block sectionThree %}{% if app.user and is_granted('ROLE_ADMIN') %}
		<script>
			function editUser(userid) 
			{
				$("#loading_admin").show();
				$.ajax("/getuser/" + userid).done(function(r) {
					$("#uid").val(r.id);
					$("#ufirst").val(r.first);
					$("#ulast").val(r.last);
					$("#uemail").val(r.email);
					$("#uactive").prop("checked", r.isactive);
					$("#uaccess").prop("checked", r.isadmin);
				}).always(function() {
					$("#loading_admin").hide();
				});
			
			}
			
			function onSubmit()
			{
				if($("#uid").val() == "") {
					alert("Musisz wybrać użytkownika, którego chcesz zaktualizować...");
					return false;
				}
				
				if(confirm("Czy na pewno chcesz zaktualizować tego użytkownika?")) {
					$("#loading_admin").show();
					$.ajax({
						type: "POST",
						url: "{{ absolute_url(path('admin_setuser')) }}",
						data: {
							id: parseInt($("#uid").val()),
							first: $("#ufirst").val(),
							last: $("#ulast").val(),
							email: $("#uemail").val(),
							pass: $("#upass").val(),
							active: $("#uactive").prop("checked") ? 1 : 0,
							access: $("#uaccess").prop("checked") ? 1 : 0
						},
						success: function(r) {
							if(r != "OK") {
								alert(r);
							}
						},
						error: function(err) {
							alert("Nie można zaktualizować danych użytkownika.");
						}
					}).always(function() {
						$("#loading_admin").hide();
						$("#upass").val("");
					});
				}
				return false;
			}
		</script>
	
		<div class="row 150%">
			<div class="6u 12u$(medium)">
				<header class="major">
					<h2>Lista użytkowników</h2>
				</header>
				<table>
					<tr>
						<th>ID</th>
						<th>Imię i Nazwisko</th>
						<th>Email</th>
						<th>Edycja</th>
					</tr>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.firstName }} {{ user.lastName }}</td>
							<td>{{ user.email }}</td>
							<td>
							{% if app.user.id != user.id %}
								<a href="javascript:editUser({{ user.id }});">Edytuj</a>
							{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<div class="6u$ 12u$(medium)">
				<form onSubmit="return onSubmit();">
					<label for="uid" style="font-size: initial;">ID</label>
					<input type="number" id="uid" name="uid" value="" disabled="disabled" style="font-size: initial;" />
					<img id="loading_admin" src="{{ asset('images/loader.gif') }}" style="display: none; width: 32px; height: 32px;" />
					<label for="ufirst" style="font-size: initial;">Imię</label>
					<input type="text" style="font-size: initial;" value="" id="ufirst" name="ufirst" />
					<label for="ulast" style="font-size: initial;">Nazwisko</label>
					<input type="text" style="font-size: initial;" value="" id="ulast" name="ulast" />
					<label for="uemail" style="font-size: initial;">Email</label>
					<input type="text" style="font-size: initial;" value="" id="uemail" name="uemail" />
					<label for="upass" style="font-size: initial;">Hasło</label>
					<input type="text" style="font-size: initial;" value="" id="upass" name="upass" />
					<br />
					<input type="checkbox" id="uactive" name="uactive" checked="checked" /><label for="uactive" style="font-size: initial;">Czy konto jest aktywne?</label>
					<input type="checkbox" id="uaccess" name="uaccess" /><label for="uaccess" style="font-size: initial;">Czy jest adminem?</label>
					<br />
					<input type="submit" value="Aktualizuj" style="font-size: initial;" />
				</form>
			</div>
		</div>
	
{% endif %}{% endblock %}

{% block headScript %}
<script>
	$(function()
	{
		$("#addCategoryDialog").dialog({
			autoOpen: false,
			show: {
				effect: "blind",
				duration: 1000
			},
			hide: {
				effect: "blind",
				duration: 1000
			}
		});
		$("#addtaskwnd").dialog({
			autoOpen: false,
			show: {
				effect: "blind",
				duration: 1000
			},
			hide: {
				effect: "blind",
				duration: 1000
			}
		});
		$("#showtaskwnd").dialog({
			autoOpen: false,
			minWidth: 400,
			show: {
				effect: "blind",
				duration: 1000
			},
			hide: {
				effect: "blind",
				duration: 1000
			}
		});
		$("#addtaskbn").hide();
		$("#addtaskwnd_endtime").datepicker({ minDate: 0, dateFormat: "yy-mm-dd"});
	});
</script>
{% endblock %}